.article-cover-img {

    width: 100%;
    height: 500px;

    object-fit: cover;
    object-position: center;
}

@media screen and (max-width:500px) {

    .article-cover-img {

        height: auto;
    }

    .article-content,
    .article-title {

        margin: 15px 20px 15px 20px !important;
    }
}

.publisher-img {

    width: 50px;
    height: 50px;

    object-fit: cover;
    object-position: center;

    border-radius: 100px;
}