:root {

    --primary: #4957ed;
    --secondary: #ee2935;
    --main: #252526;
    --main-2: #fff;

}


* {

    box-sizing: border-box !important;
    padding: 0;
    margin: 0;

    scrollbar-width: thin;

    color: var(--main);
}

.section-heading {

    width: max-content;
    border-bottom: 5px solid red;
}